WORKER_INBOUND_BATCH_SIZE=80
WORKER_INBOUND_CONCURRENCY=24
WORKER_OUTBOUND_BATCH_SIZE=40
WORKER_OUTBOUND_CONCURRENCY=16
WORKER_OUTBOX_BATCH_SIZE=120
WORKER_OUTBOX_CONCURRENCY=24
WORKER_POLL_INTERVAL_MS=120
WORKER_OUTBOX_PROCESSING_TIMEOUT_SECONDS=240
WORKER_OBSERVABILITY_POLL_MS=5000
WORKER_HEALTH_PORT=8081
