WORKER_INBOUND_BATCH_SIZE=40
WORKER_INBOUND_CONCURRENCY=16
WORKER_OUTBOUND_BATCH_SIZE=30
WORKER_OUTBOUND_CONCURRENCY=10
WORKER_OUTBOX_BATCH_SIZE=80
WORKER_OUTBOX_CONCURRENCY=16
WORKER_POLL_INTERVAL_MS=200
WORKER_OUTBOX_PROCESSING_TIMEOUT_SECONDS=180
WORKER_OBSERVABILITY_POLL_MS=5000
WORKER_HEALTH_PORT=8081
